body {
  /* background-color: rgba(0, 0, 0, 0.75);
  color: white; */
}
.profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px;
  border-radius: 50%;
}

.App {
  text-align: center;
}
.movie-card {
  padding: 10px;
  width: 350px;
  /* background-color: black; */
}

.movieList {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  text-align: center;
  padding: 20px;
}

.poster {
  width: 100%;
  height: 450px;
  /* object-fit: cover; */
}
.movieRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name-toggle {
  display: flex;
}

.rating {
  align-items: center;
  align-self: center;
}
.summary {
  text-align: left;
}

.movieDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  width: 400px;
  margin: 10px;
}

.MovieInfo {
  text-align: center;
  max-width: 750px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.interaction-panel {
  display: flex;
  justify-content: space-around;
}

.gameBox {
  /* width: 150px; */
  height: 150px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.gameBox:hover {
  background-color: azure;
}

.board {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
}
